@import "Util";
@import "Colors";

.attachment_preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .header {
        background-color: $grey_dark;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        > span {
            color: #FFFFFF;
            font-weight: bold;
            font-size: 25px;
        }

        > button {
            @extend .button;
            background-color: $red;

            &:hover {
                background-color: $red_dark;
            }
        }
    }
}
