@import "Colors";
@import "Util";

.overlay {
    position: relative;

    .attachment {
        align-self: center;
        margin-left: 10px;
        @extend .button;
        background-color: $green;
        /* OVERRIDE BUTTON SIZE */
        width: 40px;
        height: 40px;

        &:hover {
            background-color: $green_dark;
        }
    }

    .popup {
        position: absolute;
        transform-origin: right bottom;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        transition: .3s ease;
        z-index: 10000;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &.open {
            transform: translateY(-100%);

            & > * {
                transform: scale(1);

                @for $i from 1 through 6 {
                    &:nth-child(#{7- $i}) {
                        transition-delay: 50ms * $i;
                    }
                }
            }
        }

        > * {
            margin: 10px 0;
            transform: scale(0);

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    transition-delay: 50ms * $i;
                }
            }
        }
    }

    .uploadingOverlay {
        position: absolute;
        transform-origin: right bottom;
        top: -15px;
        right: 0;
        transform: translateY(-100%) scaleY(0);
        background-color: $grey;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 12px;
        display: flex;
        align-items: center;
        transition: .3s ease;

        &.open {
            transform: translateY(-100%) scaleY(1);
        }

        > .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;

            border-top: 20px solid $grey;
            position: absolute;
            bottom: -10px;
            right: 2px;
        }
    }
}

.blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
