.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    > .container {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        /* for Firefox */
        min-height: 0;
    }
}
