div.message_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: auto;
    overflow-x: hidden;
    min-height: 0;
}
