@import "Colors";

div.message_container {
    max-width: 40%;
    margin-bottom: 12px;
    transition: .3s ease;

    div.message {
        max-width: 100%;
        word-wrap: break-word;
        line-height: 24px;
        position: relative;
        padding: 10px 20px;
        border-radius: 25px;
        transition: .3s ease;

        &:before, &:after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 25px;
            transition: .3s ease;
        }

        &.from_me {
            color: white;
            background: $blue;

            &:hover {
                &, &:before {
                    background-color: $blue_dark;
                }
            }

            &:before {
                right: -7px;
                width: 20px;
                background-color: $blue;
                border-bottom-left-radius: 16px 14px;
            }

            &:after {
                right: -26px;
                width: 26px;
                background-color: white;
                border-bottom-left-radius: 10px;
            }
        }
        &.from_them {
            background: $grey;
            color: black;
            align-self: flex-start;

            &:hover {
                &, &:before {
                    background-color: $grey_dark;
                }
            }

            &:before {
                left: -7px;
                width: 20px;
                background-color: $grey;
                border-bottom-right-radius: 16px;
            }

            &:after {
                left: -26px;
                width: 26px;
                background-color: white;
                border-bottom-right-radius: 10px;
            }
        }
    }

    &.from_me {
        align-self: flex-end;
        transform: translateX(150%) scale(0.5);

        div.time {
            float: right;
        }
    }

    &.from_them {
        align-self: flex-start;
        transform: translateX(-150%) scale(0.5);
    }

    &.from_them, &.from_me {
        &.animated_in {
            transform: translateX(0);
        }
        &.not_animated {
            transition: none!important;
        }
    }
}
