@import "Colors";

.message_container {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;

    > textarea {
        flex: 1;
        border-radius: 20px;
        outline: none;
        height: 30px;
        min-height: 30px;
        max-height: 100px;
        padding: 5px 20px;
        font-family: sans-serif;
        font-size: 14px;
    }
    button {
        align-self: center;
        height: 40px;
        width: 40px;
        background-color: $blue;
        border-radius: 50%;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .3s ease;
        margin-left: 10px;

        &:hover {
            background-color: $blue_dark;
        }
    }
}
